@{
    ViewData["Title"] = "Index";
    var language = _localization.Getkey("Language").Value;

}
@model ContactUsViewModel
<section id="breadCrumb">
    <div class="container-web">
        <div class="row">
            <div class="col-lg-12 breadCrumbBox">
                <ul>
                    <li>
                        <h1>
                            @Model.LanguageBases.FirstOrDefault(x=>x.Key == "NavContact"+language)?.Value
                        </h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contactUs">
    <div class="container-web">
        <div class="row">

          @*  <div class="imgBox-2">
                <img src="~/assets/Images/1690297956553.png" alt="">
            </div>*@
            <div class="col-lg-5 contactInfo">
                <h1>
                    @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ContactPageTitleLeft"+language)?.Value:
                </h1>
                <ul>
                    <li>
                        <a href="tel:">
                            <i class="fa-solid fa-phone"></i>
                            @Model.Settings.FirstOrDefault(x=>x.Key == "ContactNumber")?.Value
                        </a>
                    </li>
                    <li>
                        <a href="mailto:">
                            <i class="fa-solid fa-envelope"></i>
                            @Model.Settings.FirstOrDefault(x=>x.Key == "ContactEmail")?.Value

                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-location-dot"></i>
                            @Model.Settings.FirstOrDefault(x=>x.Key == "ContactAdress")?.Value

                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 contactUsForm">
                <h1>
                    @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ContactPageTitleRight"+language)?.Value:
                </h1>
                <form class="row " asp-action="ContactUs" asp-controller="elaqe">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            @Model.LanguageBases.FirstOrDefault(x=>x.Key == "InputEmail"+language)?.Value:
                        </label>
                        <input asp-for="ContactUsCreateDto.Email" type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="@Model.LanguageBases.FirstOrDefault(x=>x.Key == "InputEmail"+language)?.Value">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            @Model.LanguageBases.FirstOrDefault(x=>x.Key == "InputFullname"+language)?.Value:

                        </label>
                        <input asp-for="ContactUsCreateDto.Fullname" type="text" class="form-control" id="exampleFormControlInput1"
                               placeholder="@Model.LanguageBases.FirstOrDefault(x=>x.Key == "InputFullname"+language)?.Value">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">@Model.LanguageBases.FirstOrDefault(x=>x.Key == "InputPhoneNumber"+language)?.Value:</label>
                        <input asp-for="ContactUsCreateDto.PhoneNumber" type="tel" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">@Model.LanguageBases.FirstOrDefault(x=>x.Key == "InputMessage"+language)?.Value:</label>
                        <textarea asp-for="ContactUsCreateDto.Message" style="height:180px;max-height: 300px;" class="form-control"
                                  id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="mb-3 text-end">
                        <button class="btn btn-dark">
                            @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ContactBtn"+language)?.Value:

                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
