@{
    ViewData["Title"] = "Index";
    var language = _localization.Getkey("Language").Value;

}
@section Links{
    <link href="https://aztamlider.az/haqqimizda/" rel="canonical">
    <meta property="og:url" content="https://aztamlider.az/haqqimizda/">
    <meta property="og:title" content="HAQQIMIZDA | aztamLIDER MMC">

    <meta name="keywords" content="haqqimizda, aboutus,AZTAM LİDER MMC, aztamlider haqqinda, mmc, @foreach (var serviceKey in Model.Services){@serviceKey.TitleAz}">
    <meta name="description" content="@Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc1"+language)?.Value)">
                       
}
@model AboutUsViewModel
<section style="background-image: url('/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key =="breadCrumbImage")?.Value');" id="breadCrumb">
    <div class="container-web">
        <div class="row">
            <div class="col-lg-12 breadCrumbBox">
                <ul>
                    <li>
                        <h1>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "NavAboutUs"+language)?.Value)
                        </h1>

                    </li>
                    <!-- <li>
                        <p class="mobileTextAbout mb-1 pe-5">2014-cü ildən bəri Sizin Etibarlı MEP Tərəfdaşınız.</p>

                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="aboutUs">
    <div class="container-web">
        <div class="row">
            <div class="col-lg-5 aboutImageBox">
                <div class="mb-5  aboutImage">
                    <img src="~/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key=="About1Image")?.Value" alt="@Model.Settings.FirstOrDefault(x=>x.Key=="About1Image")?.Value">
                </div>
                <div class=" mb-5 mobileAboutImage aboutImage">
                    <img src="~/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key=="About2Image")?.Value" style="height: 450px;" alt="@Model.Settings.FirstOrDefault(x=>x.Key=="About1Image")?.Value">
                </div>


            </div>
            <div class="col-lg-7 aboutTextBox">
                <p>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc1"+language)?.Value)

                </p>
                <br>
                <h1>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle1"+language)?.Value)

                </h1>
                <p>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc2"+language)?.Value)
                </p>

            </div>


            <div class="col-lg-5 aboutImageBox-Mobile">
                <div class="mb-5  aboutImage">
                    <img style="width:100%" src="~/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key=="About3Image")?.Value" alt="@Model.Settings.FirstOrDefault(x=>x.Key=="About1Image")?.Value">
                </div>
            </div>

            <div class="col-lg-7 aboutTextBox">
                @*left*@
                <h1>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle2"+language)?.Value)
                </h1>
                <ul>
                    @foreach (var service in Model.Services)
                    {
                        <li>
                            @if (language == "Az")
                            {
                                <p>@service.TitleAz;</p>

                            }
                            else
                            {
                                <p>@service.TitleEn;</p>

                            }
                        </li>
                    }
                </ul>

                <h1>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle3"+language)?.Value)
                </h1>
                <ul>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc3"+language)?.Value)
                </ul>
                <h1>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle4"+language)?.Value)
                </h1>
                <ul>
                    <li>
                        <h1>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle5"+language)?.Value)
                        </h1>
                        <p>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc4"+language)?.Value)
                        </p>
                    </li>
                    <li>
                        <h1>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle6"+language)?.Value)
                        </h1>
                        <p>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc5"+language)?.Value)
                        </p>
                    </li>
                    <li>
                        <h1>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle7"+language)?.Value)
                        </h1>
                        <p>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc6"+language)?.Value)
                        </p>
                    </li>
                    <li>
                        <h1>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle8"+language)?.Value)

                        </h1>
                        <p>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc7"+language)?.Value)
                        </p>
                    </li>
                    <li>
                        <h1>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutTitle9"+language)?.Value)
                        </h1>
                        <p>
                            @Html.Raw(Model.LanguageBases.FirstOrDefault(x=>x.Key == "AboutDesc8"+language)?.Value)
                        </p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-5 aboutImageBox aboutImageBox-MobileNone">
                <div class="mb-5  aboutImage">
                    <img src="~/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key=="About3Image")?.Value" alt="@Model.Settings.FirstOrDefault(x=>x.Key=="About1Image")?.Value">
                </div>
                <div class=" mb-5 mobileAboutImage aboutImage">
                    <img src="~/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key=="About4Image")?.Value" style="height: 450px;" alt="@Model.Settings.FirstOrDefault(x=>x.Key=="About1Image")?.Value">
                </div>
                <div class=" mb-5 mobileAboutImage aboutImage">
                    <img src="~/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key=="About5Image")?.Value" style="height: 450px;" alt="@Model.Settings.FirstOrDefault(x=>x.Key=="About1Image")?.Value">
                </div>
            </div>

        </div>
    </div>
</section>

