@{
    ViewData["Title"] = "Index";
    var language = _localization.Getkey("Language").Value;
    int count = 0;
}
@section Links{
    <link href="https://aztamlider.az/" rel="canonical">
    <meta property="og:url" content="https://aztamlider.az/">
    <meta property="og:title" content="aztamLIDER MMC">
}
@model HomeViewModel
<!-- Main Slider -->
<section id="mainSlider">
    <div class="backGroundImages">
        @foreach (var slider in Model.MainSliders)
        {
            <div class="backGroundImage @(count==0?"activeMainSlider":"")">
                <div class="mainSliderTextBox">
                    <h1 class="text-uppercase mainSliderTitle" style="animation-delay: 0.6s;"
                        data-animation="fadeInDown" data-delay="0.6s">
                        @if (language == "Az")
                        {

                            @Html.Raw(slider.TitleAz)
                        }
                        else if (language == "En")
                        {
                            @Html.Raw(slider.TitleEn)

                        }
                    </h1>
                    <p class=" mainSliderDesc" data-animation="fadeInDown" data-delay="0.8s"
                       style="animation-delay: 0.8s;">

                        @if (language == "Az")
                        {
                            @Html.Raw(slider.DescriptionAz)
                        }
                        else if (language == "En")
                        {
                            @Html.Raw(@slider.DescriptionEn)
                        }
                    </p>
                </div>
                <img src="~/uploads/mainsliders/@slider.Image" alt="">
            </div>
            <p style="display:none;"> @(count++)</p>


        }

    </div>
</section>

<!-- Partner Logos -->
<section id="partnerLogos">
    <div class="container-web">
        <div class="row">
            <div class="col-lg-12 col-md-11 partnerTitleBox">
                <h1>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x => x.Key == "PartnerTitle" + language)?.Value)

                </h1>
                <p>
                    @Html.Raw(Model.LanguageBases.FirstOrDefault(x => x.Key == "PartnerDesc" + language)?.Value)
                </p>
            </div>
            <div class="col-lg-12 partnerOwlCarouselBox">
                <!-- Mobile Slider -->
                <div class="owl-carousel owl-carousel-slider owl-theme mobile-owl  p-0 m-0">

                    @foreach (var partner in Model.Partners)
                    {
                        <div class="item me-2">
                            <a href="#" class="projectBoxTitle d-block  text-decoration-none mt-3">
                                <img style=" border-radius: 5px;" src="~/uploads/partners/@partner.Image"
                                     alt="" width="100% ">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("header").addClass("headerAddFixed");
        });
    </script>
    <script>
        window.addEventListener('load', function () {
            var genislik = window.innerWidth; // Tarayıcı penceresi genişliğini al
            var mainSliderDescElements = document.querySelectorAll('.mainSliderDesc'); // Tüm .mainSliderDesc elementlerini seç
            var mainSliderTitleElements = document.querySelectorAll('.mainSliderTitle'); // Tüm .mainSliderDesc elementlerini seç

            if (genislik < 992) {
                mainSliderDescElements.forEach(function (mainSliderDescElement) {
                    var brElements = mainSliderDescElement.querySelectorAll('br'); // mainSliderDesc içindeki tüm <br> etiketlerini seç

                    brElements.forEach(function (brElement) {
                        brElement.remove(); // <br> etiketlerini kaldır
                    });
                });
                mainSliderTitleElements.forEach(function (mainSliderTitleElements) {
                    var brElements = mainSliderTitleElements.querySelectorAll('br'); // mainSliderDesc içindeki tüm <br> etiketlerini seç

                    brElements.forEach(function (brElement) {
                        brElement.remove(); // <br> etiketlerini kaldır
                    });
                });
            }
        });

    </script>
    <!-- mainSlider -->
    <script>
        // JavaScript kodu
        window.addEventListener("DOMContentLoaded", function () {
            // Sliderı seçin
            var slider = document.getElementById("mainSlider");

            // Sliderdaki tüm görüntüleri seçin
            var images = slider.querySelectorAll(".backGroundImage");

            // Başlangıçta görüntüleri saklamak için bir sayaç tanımlayın
            var currentImageIndex = 0;

            // Sliderı otomatik olarak döndürmek için bir fonksiyon oluşturun
            function rotateSlider() {
                // Mevcut görüntünün aktif sınıfını kaldırın
                images[currentImageIndex].classList.remove("activeMainSlider");

                // Bir sonraki görüntünün indeksini belirleyin
                currentImageIndex = (currentImageIndex + 1) % images.length;

                // Yeni görüntüye aktif sınıfını ekleyin
                images[currentImageIndex].classList.add("activeMainSlider");
            }

            setInterval(rotateSlider, 10000);
        });

    </script>
}