@{
    ViewData["Title"] = "Referans";
    var language = _localization.Getkey("Language").Value;
    int count = 0;
}
@section Links{
    <link href="https://aztamlider.az/referanslar/referans/@Model.Reference.Id/" rel="canonical">
    <meta property="og:url" content="https://aztamlider.az/referanslar/referans/@Model.Reference.Id/">
    <meta property="og:title" content="@Model.Reference.Name | aztamLIDER MMC">
}
@model ReferenceViewModel
<section style="background-image: url('/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key =="breadCrumbImage")?.Value');" id="breadCrumb">
    <div class="container-web">
        <div class="row">
            <div class="col-lg-12 breadCrumbBox">
                <ul>
                    <li>
                        <h1>
                            @Model.LanguageBases.FirstOrDefault(x=>x.Key == "NavReference"+language)?.Value
                        </h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="referenceInfo">
    <div class="container-web">
        <div class="row">
            <div class="col-md-9  col-sm-12 mb-2 ">
                <div class="refInfoImageBoxs">
                    @foreach (var refImage in Model.ReferenceImage.Where(x => x.ReferenceId == Model.Reference.Id))
                    {
                        <div class="refInfoImageBox" style="display: @(count==0?"block":"none");">
                            <div class="image-container">
                                <img src="~/uploads/references/@refImage.Image" class="img-fluid rounded hover-lift-light"
                                     alt="@refImage.Image">

                            </div>
                        </div>
                        <span style="display:none;">@(count++)</span>
                    }


                    <a class="prev-reference-btn prev-btn">&lt;</a>
                    <a class="next-reference-btn next-btn">&gt;</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="refInfoTextBox row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <div class="titleBox">
                                    <i class="fa-regular fa-user"></i>
                                    <p>
                                        @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefOrderer"+language)?.Value:
                                    </p>
                                </div>
                                <p>@Model.Reference.Orderer</p>
                            </li>
                            <li>
                                <div class="titleBox">
                                    <i class="fa-regular fa-user"></i>
                                    <p>
                                        @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefLocation"+language)?.Value:
                                    </p>
                                </div>
                                <p>
                                    @if (language == "Az")
                                    {
                                        @Model.Reference.LocationAz
                                    }
                                    else
                                    {
                                        @Model.Reference.LocationEn
                                    }
                                </p>
                            </li>
                            <li>
                                <div class="titleBox">
                                    <i class="fa-regular fa-user"></i>
                                    <p>
                                        @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefArea"+language)?.Value:
                                    </p>
                                </div>
                                <p>
                                    @if (language == "Az")
                                    {
                                        @Model.ServiceTypes.FirstOrDefault(x=>x.Id==Model.Reference.ServiceTypeId)?.NameAz

                                    }
                                    else
                                    {
                                        @Model.ServiceTypes.FirstOrDefault(x=>x.Id==Model.Reference.ServiceTypeId)?.NameEn
                                    }
                                </p>
                            </li>
                            <li>
                                <div class="titleBox">
                                    <i class="fa-regular fa-user"></i>
                                    <p>
                                        @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefBuilding"+language)?.Value:
                                    </p>
                                </div>
                                <p>
                                    @if (language == "Az")
                                    {
                                        @Model.Reference.BuildingTypeAz
                                    }
                                    else
                                    {
                                        @Model.Reference.BuildingTypeEn
                                    }
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <div class="titleBox">
                                    <i class="fa-regular fa-user"></i>
                                    <p>
                                        @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefSquareMetr"+language)?.Value:

                                    </p>
                                </div>
                                <p>@Model.Reference.SquareMetr</p>
                            </li>
                            <li>
                                <div class="titleBox">
                                    <i class="fa-regular fa-user"></i>
                                    <p>
                                        @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefDate"+language)?.Value:

                                    </p>
                                </div>
                                <p>@Model.Reference.Date</p>
                            </li>
                            <li>
                                <div class="titleBox">
                                    <i class="fa-regular fa-user"></i>
                                    <p>
                                        @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefStatus"+language)?.Value:
                                    </p>
                                </div>
                                <p>
                                    @Model.LanguageBases.FirstOrDefault(x=>x.Key == "RefStatusText"+language)?.Value:

                                    <i class="ms-1 fa-solid fa-@(Model.Reference.Status?"check":"xmark")"></i>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/referenceSlider.js"></script>
}