@{
    ViewData["Title"] = "Create";
}
@model ReferenceCreateViewModel

@{
    DateTime now = DateTime.UtcNow;
}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Project /</span> Yaratmaq</h4>
        <div class="card">
            <div class="card-body">
                <!-- Admin Project  Create Start -->
                <section style="margin-top: 10px;" id="createPoster">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class=" formBox  col-lg-8 col-md-12 col-sm-12 ">

                                <form class="form-control" asp-action="create" asp-controller="Reference" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <!-- Project Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="ReferenceCreateDto.Name" class="form-label">Referans adı*</label>
                                        <input asp-for="ReferenceCreateDto.Name" maxlength="150" type="text" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.Name" class="text-danger"></span>
                                    </div>

                                    <!-- Layihə Name   End -->
                                    <!-- Project Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="ReferenceCreateDto.Orderer" class="form-label">Sifarişçi adı*</label>
                                        <input asp-for="ReferenceCreateDto.Orderer" maxlength="100" type="text" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.Orderer" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə Name   End -->
                                    <!-- Layihələr  Start -->
                                    <div class="mb-3 highProjects">
                                        <label class="form-label">Servis növü</label>
                                        <span asp-validation-for="ReferenceCreateDto.ServiceNameId" class="text-danger"></span>
                                        <select asp-for="ReferenceCreateDto.ServiceNameId" class="form-select">
                                            <option selected="selected" disabled>Servis seçin...</option>

                                            @foreach (var highProject in Model.ServiceNames)
                                            {
                                                <option value="@highProject.Id">@highProject.NameAz</option>
                                            }
                                        </select>
                                    </div>
                                    <!-- Layihələr   End -->
                                    <!-- Layihələr  Start -->
                                    <div class="mb-3 highProjects">
                                        <label class="form-label">Xidmət növü</label>
                                        <span asp-validation-for="ReferenceCreateDto.ServiceTypeId" class="text-danger"></span>

                                        <select asp-for="ReferenceCreateDto.ServiceTypeId" class="form-select">
                                            <option selected="selected" disabled>Xidmət seçin...</option>

                                            @foreach (var highProject in Model.ServiceTypes)
                                            {
                                                <option value="@highProject.Id">@highProject.NameAz</option>
                                            }
                                        </select>
                                    </div>
                                    <!-- Layihələr   End -->
                                    <!-- Project Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="ReferenceCreateDto.SquareMetr" class="form-label">Tikinti sahəsi*</label>
                                        <input asp-for="ReferenceCreateDto.SquareMetr" type="int" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.SquareMetr " class="text-danger"></span>
                                    </div>
                                    <!-- Layihə Name   End -->
                                    <!-- InstagramUrl  Start -->
                                    <div class="mb-3 posterTitle">
                                        <label asp-for="ReferenceCreateDto.BuildingTypeAz" class="form-label">Bina növü (Az)*</label>
                                        <input asp-for="ReferenceCreateDto.BuildingTypeAz" maxlength="200" type="text" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.BuildingTypeAz" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə ContactInfo  Start -->
                                    <!-- InstagramUrl  Start -->
                                    <div class="mb-3 posterTitle">
                                        <label asp-for="ReferenceCreateDto.BuildingTypeEn" class="form-label">Bina növü (En)*</label>
                                        <input asp-for="ReferenceCreateDto.BuildingTypeEn" maxlength="200" type="text" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.BuildingTypeEn" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə ContactInfo  Start -->
                                    <div class="mb-3 posterTitle">
                                        <label asp-for="ReferenceCreateDto.Date" class="form-label">Vaxt*</label>
                                        <input asp-for="ReferenceCreateDto.Date" maxlength="50" type="text" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.Date" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeAz  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="ReferenceCreateDto.LocationAz" class="form-label">Location (Az)*</label>
                                        <input asp-for="ReferenceCreateDto.LocationAz" maxlength="120" type="text" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.LocationAz" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeAz   End -->
                                    <!-- Layihə DescribeAz  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="ReferenceCreateDto.LocationEn" class="form-label">Location (En) *</label>
                                        <input asp-for="ReferenceCreateDto.LocationEn" maxlength="120" type="text" class="form-control">
                                        <span asp-validation-for="ReferenceCreateDto.LocationEn" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeAz   End -->
                                    <!-- Layihə DescribeEn  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="ReferenceCreateDto.Status" class="form-label">Tammamlandı *</label>
                                        <input class="form-check-input" asp-for="ReferenceCreateDto.Status" placeholder="...." /> @Html.DisplayNameFor(model => model.ReferenceCreateDto.Status)
                                        <span asp-validation-for="ReferenceCreateDto.Status" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeEn   End -->
                                    <!-- Poster Image  Start -->
                                    <div class="mb-3 posterImages">
                                        <label asp-for="ReferenceCreateDto.ImageFiles" class="form-label">Referans Şəkilləri*</label>
                                        <!-- Şəkil əlavə et -->
                                        <input asp-for="ReferenceCreateDto.ImageFiles" id="imageInput" type="file" accept="image/png,  image/jpeg, video/mp4, image/webp"
                                               class="form-control" multiple="">
                                        <div>
                                            <p id="imageErrorMessage" class="fw-bold "></p>
                                            <span asp-validation-for="ReferenceCreateDto.ImageFiles" class="text-danger"></span>
                                        </div>
                                        <div class="row" id="temperoryImages"></div>
                                    </div>
                                    <!-- Poster Image End -->
                                    <!-- Button  Start -->
                                    <div class="row d-flex justify-content-end mb-3">
                                        <div class="col mb-1">
                                            <a style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " asp-action="index" asp-controller="Reference" class="btn  btn-dark">Geri dön</a>
                                        </div>
                                        <div class="col mb-1 posterButton ms-2 ">
                                            <button style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " type="submit" class="btn  btn-primary">Yaratmaq</button>
                                        </div>
                                    </div>
                                    <!-- Button  Start -->
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  Admin Project  Create  End -->

            </div>
        </div>
    </div>
    <!-- / Content -->
</div>


<script>
    const p = document.getElementById("imageErrorMessage");
    const fileInput = document.getElementById('imageInput');
    const previewImages = document.getElementById('temperoryImages');
    const selectedFiles = [];
    const dt = new DataTransfer();

    fileInput.onchange = (e) => {
        const files = Array.from(e.target.files);

        if (files.length > 8) {
            p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
            fileInput.value = '';

        } else {
            if (selectedFiles.length + files.length > 8) {
                p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
                fileInput.value = '';
            }
            else {
                files.forEach(file => {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const src = e.target.result;
                        dt.items.add(file);
                        selectedFiles.push({
                            file: file,
                            src: src,
                            degree: 0,
                        });
                        if (selectedFiles.length <= 8) {
                            setImages();
                        }
                    };
                    reader.readAsDataURL(file);
                });
                fileInput.value = null; // Input değerini sıfırla
            }
        }
    };

    const setImages = () => {
        let html = '';

        selectedFiles.forEach((file, i) => {
            if (i < 8) {
                html += `<div class="imageBox">
                                                      <p id="${i}" onclick="removeFile(${i})"><i class="fa-solid fa-trash"></i></p>
                                                      <img data-image-id="${i}" class="temperorayImage" src="${file.src}" alt="">
                                                  </div>`;
            }
        });

        previewImages.innerHTML = html;
        updateInputFiles();
    };

    const updateInputFiles = () => {
        dt.items.clear();
        selectedFiles.forEach(file => {
            dt.items.add(file.file);
        });
        fileInput.files = dt.files;
    };

    const removeFile = (index) => {
        dt.items.remove(index);
        selectedFiles.splice(index, 1);
        setImages();
    };

</script>


@section Scripts{

}

