@{
    ViewData["Title"] = "MEPDesign";
    var language = _localization.Getkey("Language").Value;
    int count = 1;
}
@section Links{
    <link href="https://aztamlider.az/layihelendirme/mepdesign/" rel="canonical">
    <meta property="og:url" content="https://aztamlider.az/layihelendirme/mepdesign/">
    <meta property="og:title" content="MEP DESIGN | aztamLIDER MMC">
    <meta itemprop="name" content="KOMANDAMIZ | Aztamlider MMC">
    <meta name="keywords" content="Karyera,  Komanda,Team, Aztamlider Komanda, Aztamlider Karyera, @Model.Settings.FirstOrDefault(x => x.Key == "SeoKeywords")?.Value,">
    <meta name="description" content="@Model.LanguageBases.FirstOrDefault(x=>x.Key == "TeamPageSlogan"+language)?.Value">
}
@model ProjectViewModel
<section style="background-image: url('/uploads/setting/@Model.Settings.FirstOrDefault(x=>x.Key =="breadCrumbImage")?.Value');" id="breadCrumb">
    <div class="container-web">
        <div class="row">
            <div class="col-lg-12 breadCrumbBox">
                <ul>
                    <li>
                        <h1>
                            @Model.LanguageBases.FirstOrDefault(x=>x.Key == "NavProject2"+language)?.Value

                        </h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="project">
    <div class="container-web">
        <div class="row">
            <p>
                @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ProjectConstructionDes1"+language)?.Value
            </p>
            <p>
                @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ProjectConstructionDes2"+language)?.Value
            </p>
            <p>
                @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ProjectConstructionDes3"+language)?.Value
            </p>
            <p>
                @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ProjectConstructionDes4"+language)?.Value
            </p>
            <p>
                @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ProjectConstructionDes5"+language)?.Value
            </p>
            <h1 class="text-center" style="padding:20px 0px;">
                @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ProjectConstructionTitle1"+language)?.Value
            </h1>
            <p>
                @Model.LanguageBases.FirstOrDefault(x=>x.Key == "ProjectConstructionDes6"+language)?.Value
            </p>
            <ul>
                @foreach (var project in Model.ConstructionProjects)
                {
                    <li>
                        <h1>
                            @count.
                            @if (language == "Az")
                            {
                                @project.TitleAz
                            }
                            else
                            {
                                @project.TitleEn

                            }
                        </h1>
                        <div class="servicesBoxs row">
                            <div class="col-lg-6 servicesBox">
                                <img src="~/uploads/projects/@project.Image" alt="">

                            </div>
                            <div class="col-lg-6 servicesBox">
                                <p>
                                    @if (language == "Az")
                                    {
                                        @project.DescriptionAz
                                    }
                                    else
                                    {
                                        @project.DescriptionEn
                                    }
                                </p>
                            </div>
                        </div>
                    </li>
                    <li style="display:none;">@(count++)</li>
                }
            </ul>
        </div>
    </div>
</section>
